<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <!-- also get packages from the NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />  
    <add key="CrossoverNugets" value="Health-Drive-Technologies/Android_App/CustomNuggets/Nuggets/" />
    <add key="Telerik" value="Health-Drive-Technologies/Android_App/CustomNuggets/Nuggets/" />
    <add key="CustomPackages" value="Health-Drive-Technologies/Android_App/CustomNuggets/Nuggets/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>